<div class="header">
  <div class="container">
    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit">&#x1F50E;&#xFE0E;</button>
    </form>
  </div>
</div>
<div class="gallery">
  <div class="container">
    <!-- Карточки изображений -->
  </div>
</div>
<div class="load-more-space">
  <div class="container">
    <button type="button" class="load-more">Load more</button>
  </div>
</div>
<a href=""></a>
